.nav-logo {
    max-height: 100px; 
    width: auto;
}

div {
    background-color: black;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF007F;
    color: white;
}