/* Navbar */

.nav-logo {
    max-height: 100px; 
    width: auto;
}

/* Body */
body {
    background-color: black;
}

.main-body-text {
    background-color: black;
    color: white;
}

/* Footer  */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF007F;
    color: white;
    display: flex;
    align-items: center;
    height: 8%;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: black;
    padding: 0 10px;
}

#copyright {
    color: black;
    font-weight: 400;
    flex: 0 0 auto;
}

.social-icons {
    flex: 1;
    display: flex;
    justify-content: center;
}

li {
    display: inline-block;
    padding: 10px ;
}

.icon-link {
    color: black;
    text-decoration: none;
}